<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICarsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31369/CarsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICarsService" contract="CarsServiceReference.ICarsService"
                name="BasicHttpBinding_ICarsService" />
        </client>
    </system.serviceModel>
</configuration>