NUnitApp/.vs/NUnitApp/v15/Server/sqlite3/storage.ide-wal
NUnitApp/.vs/NUnitApp/v15/Server/sqlite3/storage.ide-shm
NUnitApp/.vs/NUnitApp/v15/Server/sqlite3/storage.ide
NUnitApp/.vs/NUnitApp/v15/Server/sqlite3/db.lock
NUnitApp/.vs/NUnitApp/v15/.suo
NUnitApp/TestApp/Assets/Wide310x150Logo.scale-200.png
NUnitApp/TestApp/Assets/StoreLogo.png
NUnitApp/TestApp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
NUnitApp/TestApp/Assets/Square44x44Logo.scale-200.png
NUnitApp/TestApp/Assets/Square150x150Logo.scale-200.png
NUnitApp/TestApp/Assets/SplashScreen.scale-200.png
NUnitApp/TestApp/Assets/LockScreenLogo.scale-200.png
NUnitApp/TestApp/obj/
NUnitApp2/.vs/
NUnitApp2/ClassLibrary_Core/obj/
NUnitApp2/ClassLibrary1/bin/
NUnitApp2/ClassLibrary1/obj/
NUnitApp2/MyNUnitTest/bin/
NUnitApp2/MyNUnitTest/obj/
NUnitApp2/packages/
NUnitApp2/ZdrojDatProNunit/bin/
NUnitApp2/ZdrojDatProNunit/obj/
NUnitTestSln/PodkladovaData.Test/obj/
NUnitTestSln/PodkladovaData/obj/
NUnitTestSln/.vs/
TestSln/.vs/
NUnitTestSln/PodkladovaData.Test/obj/
NUnitTestSln/PodkladovaData/obj/
NUnitTestSln/.vs/
TestSln/.vs/
NUnitTestSln/PodkladovaData.Test/.vs/
