<!-- ko with: osoby -->
<div class="jumbotron">
    <h1>Osoby</h1>
    <p class="lead">Osoby v evidenci.</p>

</div>
<!-- /ko -->


@*Komentáře se zkratkou ko jsou direktivy frameworku knockout.js. 
    Označují, že tato část stránky se váže na ViewModel osoby a měla by se zobrazovat jen tehdy, 
    když s ním pracujeme.*@